.container {
    width: 100%;
    height: 100%;
}

.upload {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
    cursor: pointer;
}

.upload h1 {
    font-size: clamp(30px, 50px, 60px);
    width: min-content;
}

.upload p {
    font-size: clamp(10px, 12px, 20px);
}