.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.temp p {
    font-size: 25px;
}

.location {
    font-size: 12px !important;
}

.condition {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.condition img {
    width: 30px;
    height: 30px;
}

.condition p {
    font-size: 12px;
}