.container {
    background: white;
}

.main-navbar {
    height: 100vh;
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.main-page {
    min-height: 100vh;
    width: calc(100% - 270px);
    margin-left: 270px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

@media screen and (max-width: 900px) {
    .main-navbar {
        width: 90px
    }

    .main-page {
        width: calc(100% - 90px);
        margin-left: 90px;
    }
}