.container {
    width: 100%;
    padding: 5% 0% 2%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.wrapper {
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.item {
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.item.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.getOlder {
    height: 40px;
    background-color: #406efe;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
}