.login-message {
    width: 90%;
    margin: 40px 0px 30px;
}

.login-message h1 {
    margin-bottom: 10px;
}

.login-message p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.login-form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.login-form form > * {
    width: 100%;
    margin-top: 40px;
}

.login-form input {
    width: 100%;
    padding: 10px 0px 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    transition: 0.5s;
}

.login-form input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.login-button {
    height: 40px;
    background-color: #406efe;
    border: none;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 15px;
    cursor: pointer;
}

.login-signup {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}

.login-signup p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.login-signup span {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}