.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 3px;
}

.item {
    height: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #efefef;
    cursor: pointer;
}

.load-more {
    width: 100%;
    height: 0px;
}

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
}