.container {
    height: calc(100vh - 10%);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2% 5%;
}

.container h1 {
    width: 100%;
    height: fit-content;
    margin-bottom: 3%;
}

.create-window {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

.create-window-upload {
    width: 40%;
    aspect-ratio: 1/1.5;
}

.create-window-input {
    width: 60%;
}

.done-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}